# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
pubspec.lock
pubspec_overrides.yaml

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/generated/
android/**/outputs/

# iOS/macOS (если появится)
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
macos/Flutter/Generated.xcconfig

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Secrets & logs
*.log
.env